.add-option-error {
    color: #a5afd7;
    font-style: italic;
    padding: 0 1.6rem;
    margin: 1.6rem 0 0 0;
}

.add-option {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
}

.add-option-input {
    background: #333745;
    border: none;
    border-bottom: .2rem solid #17181e; 
    color: #a5afd7;
    flex-grow: 1;
    outline-width: thin;
    outline-color: #17181e;
    outline-style:hidden;
    margin: 0 0 1.2rem 0;
    padding: 1rem;
}

@media (min-width: 45rem) {
    .add-option {
        flex-direction: row;
    }
    
    .add-option-input {
        margin: 0 1.2rem 0 0;
    }
}